@value large, regular from '../../common/size.css';
@value colorGrey from '../../common/color.css';

.header {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: regular;
}

.sort {
  font-size: large;
  color: colorGrey;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
