@value borderRadius from '../../common/size.css';
@value micro, small, large, medium from '../../common/size.css';
@value colorBlack, colorRed, colorBlue, colorGrey, colorLightGrey, boxShadow from '../../common/color.css';

.card {
  margin-bottom: 1rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 160px;
  border-radius: borderRadius;
  box-shadow: 6px 6px 8px 2px boxShadow;
  cursor: pointer;
  transition: transform 150ms ease-in;
}

.card:hover {
  transform: translateY(-5px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  max-width: 50%;
  font-size: medium;
}

.inventory {
  color: colorGrey;
}

.blue {
  color: colorBlue;
}

.red {
  color: colorRed;
}

.inventory,
.price {
  font-weight: bold;
}

.price > span {
  color: colorBlue;
}

.inventory,
.contents {
  font-size: small;
}

.contents {
  color: colorGrey;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: micro;
  color: colorLightGrey;
}

@media (min-width: 700px) {
  .card {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .card {
    width: 33.33333%;
  }
}
